<ion-content>
<div id="conprin">
  <div id="buttonContainer">

    <ion-button (click)="volver()" id="botonVolver">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div id="fechaencargo">
    <ion-datetime [value]="fechaAux" (ionChange)="onChange($event)" placeholder="cambiar" display-format=" DDDD, DD MMMM YYYY" picker-format="DD MMMM YYYY" day-Names='Domingo, Lunes, Martes, Miercoles, Jueves, Viernes, Sabado' month-Names='Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre' done-text="Aceptar" cancel-text="Cancelar" mode="ios"></ion-datetime>
  </div>

  <div id="encargoheader" >
    <p id="numero">Num.</p>
    <p id="nombre">Nombre Cliente</p>
    <p id="hora">H. Recogida</p>
  </div>

</div> 

<div id="encargoContainer">

  <div id="encargo" *ngFor="let item of encargos">

    <div id="info" (click)="verDatosEncargo(item)">
      <p id="numero">{{item.numero}}</p>
      <p id="nombre">{{item.cliente}}</p>
      <p id="hora"> {{item.hora}}</p>
    </div>
    
    <div id="borrador" (click)="borrarEncargo(item)">
      <ion-icon  name="trash-outline"></ion-icon>
    </div>

  </div>

</div>

</ion-content>
