ion-content{
    --background: burlywood;
    border: 1px solid black;
  }

#buttonContainer {
    width: 100%;
    height: 5%;
}

#botonVolver {
    --background:red;
    border:1px solid black;
    --border-radius:0px !important;
}

#contenedor{
    width: 100%;
    overflow: scroll;  
    height: 73%;
}

#encargo{
    display: block;
    margin: auto;
    width: 100%;
    height: 80px;
    margin-top: 5px;
}

#encargoheader {
    width: 80%;
    height: 70px;
    margin: 0 auto;
    border: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(211, 198, 188);
    p {
        position: relative;
        margin: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        float:left;
        display: block;
    }

    
}

#borrador {
    display: block;
    float: right;
    width: 10%;
    height: 100%;


    ion-icon {
    margin-top: 10px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
    }

}

#fechaencargo {
    margin-bottom: 30px;

    ion-datetime {
        margin-left: 32%;
        border: 1px solid black;
        background-color:#f7ddb2;
        width: 30%;
        text-align: center;
        align-items: center;
        font-size: 30px;
    }
}



#encargoContainer{
    overflow: scroll;
    height: 73.4%;
}

#encargo {
    width: 100%;
}

#info{
    width: 80%;
    height: 80px;
    display: block;
    float: left;
    border: 1px solid black;
    margin-left: 10%;
    margin-bottom: 10px;
    text-align: center;
    background-color: rgb(226, 157, 67);

    p {
        position: relative;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        float:left;
        display: block;
    }
    
}

#numero {width: 10%; font-size: 30px;}
#nombre{width: 70% ; font-size: 30px;}
#hora{width: 20%; font-size: 30px;}