<ion-content>
  
  <div id="conprin">
    <ion-button (click)="volver()" id="botonVolver">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </div>

  <div id="headercontainer">

    <div id="ofertaheader">
      <p>Cliente</p>
      <p>Metodo pago</p>
      <p>Fecha</p>
      <p>Hora</p>
    </div>

  </div>

  <div id="ofertasContainer">

    <div id="oferta" *ngFor="let venta of ventas">

      <div id="info" (click)="verVenta(venta)">
        <p>{{venta.nombreCliente}}</p>
        <p>{{venta.metodoPago}}</p>
        <p>{{venta.fecha}}</p>
        <p>{{venta.hora}}</p>
      </div>
  
    </div>

  </div>

  <div id="totalbusqueda">
    <div id="contador" (click)="verFiltros()">
      TOTAL RESULTADOS : {{totalventas}}
      <ion-icon name="{{controladorIconoFiltros}}"></ion-icon>
    </div>

    <div id="filtros" [hidden]="controladorVisualFiltros">

      <div id="opciones">
        <span id="startop">Filtrar Por : </span>
        <select value="{{opcionSelected}}" name="opcionPrincipal" id="opcionPrincipal" (change)="cambioOptionPrincipal($event)">
          <option value="Todo">Todo</option>
          <option value="{{item}}" *ngFor="let item of opciones">{{item}}</option>
        </select>
        <span id="startop"> : </span>
        <select value="{{opcion2Selected}}" name="opcionSecundaria" id="opcionSecundaria" (change)="cambioOptionSecundaria($event)">
          <option value="Todo">Todo</option>
          <option value="{{item}}" *ngFor="let item of opcionesSecundarias">{{item}}</option>
        </select>
      </div>
            
      <div id="fecha">
        <span>Fecha De : </span>
        <ion-datetime id="fechainicio" (ionChange)="cambioFechaInicio($event)" placeholder="cambiar" display-format=" DDDD, DD MMMM YYYY" picker-format="DD MMMM YYYY" day-Names='Domingo, Lunes, Martes, Miercoles, Jueves, Viernes, Sabado' month-Names='Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre' done-text="Aceptar" cancel-text="Cancelar" mode="ios"></ion-datetime>
        <span>a :</span>
        <ion-datetime id="fechafin" (ionChange)="cambioFechaFin($event)" placeholder="cambiar" display-format=" DDDD, DD MMMM YYYY" picker-format="DD MMMM YYYY" day-Names='Domingo, Lunes, Martes, Miercoles, Jueves, Viernes, Sabado' month-Names='Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre' done-text="Aceptar" cancel-text="Cancelar" mode="ios"></ion-datetime>
        <ion-button id="buttonReset" (click)="resetarFechas()" > Resetear Filtros </ion-button>
      </div>
    
    </div>
  </div>

</ion-content>