ion-content{
  --background: burlywood;
  align-items: center;
}

ion-item {
  --background: burlywood;
}

ion-input{
  border: 1px solid black;
  --background: white;
  text-align: center;
}


ion-button{
  --background:red;
  border:1px solid black;
  --border-radius:0px !important;
  width: 100%;
}


#datoslogin {
  position: relative;
  margin: 0 auto;
  margin-top: 20%;
  margin-left: 27%;
  width: 40%;
}